
<div *ngFor="let personaje of personajes">
    <div *ngIf=" personaje.pelicula.id == pelicula.id">
        <div class="card" >
            <img (click)="onClick(personaje)" class="card-img-top"src="{{ personaje.imagen }}" alt="Pelicula 1 image">      
            <div class="card-body" >
                <h6> {{ personaje.actor.id }} as {{personaje.nombrePersonaje}}</h6>
                <p class="desc-personaje"> {{personaje.descripcion.charAt(0).toUpperCase() + personaje.descripcion.slice(1)}}</p>
            <button (click)="delete(personaje)">Eliminar</button>
            <button (click)="onClick(personaje)">Ver ficha técnica</button>

            </div>
            
        </div>
    </div>
    <div *ngIf="isVisible == true">
        <app-actor-details></app-actor-details>
</div>
</div>

   <!-- <div class="card">
        <img class="card-img-top"src={{personaje.actor.imagen}} alt="Pelicula 1 image">      
        <div class="card-body" >
            <h6>  <a href="/actor/{{ personaje.actor.id }}">{{personaje.actor.nombre}}</a> as {{personaje.nombrePersonaje}}</h6>
            <p class="desc-personaje"> {{personaje.descripcion.charAt(0).toUpperCase() + personaje.descripcion.slice(1)}}</p>
        </div>
        
    </div>-->

